/* @import url(//fonts.googleapis.com/css?family=Genos); */

@import url(//fonts.googleapis.com/css?family=Lora);

@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");

/* Fuentes descargadas o locales */

@font-face {
  font-family: "Blair Caps";
  /*   font-weight: bold; */
  /* src: local ("Blair Caps"); */
  src: url("assets/fonts/BlairCaps-GvJD.ttf") format("truetype");
}

/* ------Éste estilo aplica para todos los body de todas las html del proyecto---- */

body {
  margin: 100px 0 0 0;
  /* font-family: Wallpoet, serif;   */
  font-family: "Blair Caps", serif;
  background-image: url("assets/images/nébula.png");
  /*   background-color: red; */
  background-size: cover;
  background-attachment: fixed;
  background-position: center; /* Center the image  */
  background-repeat: no-repeat; /* Do not repeat the image  */
  /* background: #bd3e3e;
  background: linear-gradient(
    90deg,
    rgba(189, 62, 62, 1) 0%,
    rgba(23, 10, 10, 1) 35%,
    rgba(237, 221, 83, 1) 100%
  ); */
}

/*   opacity: 0.3; con div puedo manejar una imagen como fondo, a través de una clase*/

.infogeneral {
  margin-top: 100px;
}

/* ----------Estilo para todos los header -----------*/

header {
  /*   background-color: black; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  font-family: Lora, serif;
  /* font-family: "Blair Caps", serif; */
  /*   font-family: Wallpoet, serif; */
  /*   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,116,121,1) 35%, rgba(236,0,255,1) 100%);
 */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 76, 1) 53%,
    rgba(255, 0, 172, 1) 100%
  );
}

/* --------Estilo para todos los H1-------------*/

h1 {
  text-align: center;
}

.titulosRojos {
  /* para H1 en página de Párrafos */
  font-family: Wallpoet, sans-serif;
  position: relative;
  margin-top: 100px;
  color: red;
}

#infobowie {
  /* para el caso de nuestro texto en el index */
  margin-top: 300px;
}

#space_is_the_place {
  /* para el caso de nuestro texto en Imagen como fondo */
  font-size: 100px;
}

/* -----------Estilo para los H2, H3, etc.--------------- */

h2 {
  font-family: Genos, sans-serif;
  margin-bottom: 10px;
}

h3 {
  font-family: Genos, sans-serif;
  margin-bottom: 10px;
}
/* -----------Estilo para los ul, a, li y mezcla de todos (para un caso en particular)----------*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

a {
  font-family: Wallpoet, serif;
  font-size: 80px;
  /* text-decoration: none; */
}

li {
  float: right;
}

ul li a {
  /* Aquí tomamos las a que perteneces a li dentro de ul */
  font-family: Wallpoet, sans-serif;
  /* font-family: "Blair Caps", serif; */
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
}

/* ----Estilo para el selector del div o los divs en html llamado id = "contenedor-imagen"---- */

#contenedor-imagen {
  position: relative;
}

#contenedor-imagen img {
  /* aplica para la etiqueta de imagen dentro del div en html llamado id = "contenedor-imagen"  */
  width: 100%;
  height: 100%;
  position: relative;
  /* opacity: 1; */
}

/* #bowie-image {
  opacity: 0.5;
}

#bowie-gif {
  opacity: 1;
}
/* ------------- Estilo para infografía  --------------- */

#info-Bowie {
  width: 100%; */
}

/* ----------Estilo para contenedor de iframe (video de youtube)-----------*/

.contenedor-iframe {
  /* Para usar en video youtube, que se haga responsive */
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.contenedor-iframe iframe {
  /* el iframe que está dentro del contenedor-iframe */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------Estilo para párrafos-----------*/

p {
  font-family: Lora, serif;
  /* font-family: "Blair Caps", serif; */
  margin-top: 10px;
}

#contenido2 {
  /* para una p local, para este caso en Párrafos */
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 90%;
  max-width: 700px;
}

/* ----------Estilo para contenedor de video con iframe-----------*/

.contenedor-video {
  /* Para usar en video local, que se haga responsive */
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.contenedor-video video {
  /* el video que esté dentro del contenedor video */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* pantalla dividida */

#contenedor-dividido {
  width: 100%;
  min-height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#contenedor-izquierdo {
  width: 60%;
  background-color: green;
  padding: 30px;
  color: white;
  font-family: Lora, serif;
  text-align: justify;
}

#contenedor-derecho {
  width: 40%;
  background-color: blue;
}

#contenedor-derecho img {
  width: 100%;
  height: 100%; /* responsive */
  object-fit: cover; /* mantiene proporción visual */
}

#contenedor-izquierdo p {
  margin-top: 200px;
}

#contenedor-botones {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  gap: 20px;
  background-color: lightblue;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 10px;
}

/* ------------Estilo para contenedor de botones página de botones ---------*/

/*       Estados de Botón: hover, focus, active */

.button {
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*         display: none; no se mostraría el botón; en JS se modifica de Display none a block para Pop Ups */
  /*         position: absolute; /*todos los botones punto 0 de origen con respecto a quién los contiene*/
  /*         display: block; */
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

#button1 {
  background-color: #4caf50;
  color: black;
  border: 2px solid #4caf50;
} /* Green */

#button1:hover {
  background-color: black;
  color: white;
}

#button2 {
  background-color: #008cba;
  color: black;
  border: 2px solid #008cba;
} /* Blue */

#button2:focus {
  background-color: black;
  color: white;
}

#button3 {
  background-color: #4caf50;
  color: black;
  border: 2px solid #4caf50;
} /* Green */

#button3:hover {
  background-color: white;
  color: black;
}

#button4 {
  background-color: #008cba;
  color: black;
  border: 2px solid #008cba;
} /* Blue */

#button4:active {
  background-color: white;
  color: black;
}

#contenedor-botones2 {
  width: 100%;
  background-color: lightblue;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

/* transformaciones y transiciones */

#transform {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 80px;
  overflow: hidden;
  text-align: center;
  transform: translate(300px, 200px) rotate(45deg) scale(2, 2)
    skew(15deg, 15deg) rotateX(50deg) rotateY(120deg) rotateZ(90deg);
  transition:
    width 2s,
    height 2s,
    background 2s,
    transform ease-in-out 8s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}

#transform:hover {
  width: 300px;
  height: 300px;
  background: yellow;
  transform: rotateX(10deg);
}
